<div class="feedback-alignment">
    <div class="feedback-text">
        <h2>Feedback</h2>
            <br>
        <p>We welcome your feedback on the accessibility of Visma Flyt Ressursstyring. Please let us know if you encounter accessibility barriers on Visma Flyt Ressursstyring:</p>
            <br>
        <i>We try to respond to feedback within 2 business days.</i>
    </div>
</div>

<div class="form-alignment">
    <div class="form-inputs">
        <h3 class="inputtext">Name</h3>
        <input type="text" id="name" class="form-input" >
    
        <h3 class="inputtext">E-mail</h3>
        <input type="text" id="email" class="form-input">
    
        <h3 class="inputtext">What can we improve?</h3>
        <textarea id="message"></textarea>
        <div class="submit-align">
            <button id="submit">Submit</button>
        </div>
    </div>
</div>